<%- include('header') %> 
<form>
  <input type="text" placeholder="Cotação do dolar">
  <input type="text" placeholder="Quantidade de dolares">
  <button>Converter</button>
</form>
<%- include('footer') %>