body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 img {
  width: 489px;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  display: block;
  border: 1px solid #000;
  background: #fdfdfd;
  font-size: 20px;
  padding: 10px;
  margin: 2px;
}

button {
  border: 1px solid #000;
  background: #d8d8d8;
  font-size: 20px;
  padding: 10px;
  margin: 10px 2px;
}

.result {
  padding: 10px;
  border: 1px solid #d8d8d8;
  background: #fdfdfd;
}